.pagination-container {
  width: 80%;
  margin: auto;
}

.data-list {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.data-item {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.pagination {
  display: flex;
  gap: 5px;
}

button {
  padding: 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
}

button.active {
  background-color: #f2f2f2;
}
